@charset "UTF-8";
body {
  margin: 0;
}

header {
  background-image: url("../images/header.png");
  border-bottom: 270px solid transparent;
  padding-top: 25px;
  padding-left: 25px;
}
header .header-wrapper {
  display: flex;
  justify-content: space-between;
}
header .header-wrapper > .logo {
  color: #ffffff;
  font-family: Barlow;
  font-size: 24px;
  font-weight: 700;
  line-height: 12px;
  margin-top: 39px;
  margin-left: 25px;
  text-transform: uppercase;
  /* Text style for "MUSIC." */
  letter-spacing: 6px;
}
header .header-wrapper > .logo::before {
  background-color: #032c9e;
  color: #ffffff;
  content: "Mi";
  font-family: Barlow;
  font-size: 24px;
  font-weight: 700;
  line-height: 12px;
  padding: 11px;
  text-transform: uppercase;
  /* Text style for "MI" */
  letter-spacing: 6px;
}
header .header-wrapper > .nav {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-right: 64px;
  padding-top: 22px;
  padding-left: 0;
  width: 38%;
}
header .header-wrapper > .nav > .nav__item {
  display: inline-block;
}
header .header-wrapper > .nav > .nav__item > a {
  color: #ffffff;
  font-family: Barlow, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 12px;
  text-decoration: none;
  text-transform: uppercase;
  /* Text style for "HOME" */
  letter-spacing: 4.8px;
}
header .header-wrapper > .nav > .nav__item > a:hover {
  text-decoration: line-through;
}
header .header-wrapper > .nav > .nav__item--fb > a::before {
  content: "";
  font-family: FontAwesome;
}
header .header-wrapper > .nav > .nav__item--tw > a::before {
  content: "";
  font-family: FontAwesome;
}
header .header-wrapper > .nav > .nav__item--ig > a::before {
  content: "";
  font-family: FontAwesome;
}
header .header-wrapper > .nav > .nav__item--yt > a::before {
  content: "";
  font-family: FontAwesome;
}
header .title-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 130px;
  padding-top: 129px;
}
header .title-wrapper .subtitle {
  color: #ffffff;
  font-family: Barlow;
  font-size: 18px;
  font-weight: 700;
  line-height: 12px;
  padding-left: 3px;
  text-transform: uppercase;
  /* Text style for "WORLD MUSI" */
  letter-spacing: 5px;
  width: 14%;
}
header .title-wrapper .title {
  color: #ffffff;
  font-family: Barlow;
  font-size: 60px;
  font-weight: 700;
  line-height: 80px;
  margin-top: 14px;
  margin-left: -27px;
  text-transform: uppercase;
  /* Text style for "MI Music:" */
  letter-spacing: -0.6px;
  text-align: center;
  width: 48%;
}
header .title-wrapper .avatar {
  margin-top: 62px;
  padding-top: 62px;
  padding-left: 40px;
}
header .title-wrapper .name {
  color: #ffffff;
  font-family: Barlow;
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  /* Text style for "james burl" */
  letter-spacing: 2.8px;
  padding-top: 5px;
  padding-left: 38px;
  text-align: center;
}

main {
  display: grid;
  /*grid-column-gap: 132px;*/
  grid-template-columns: 11% 11% 11% 11% 11% 11% 11% 11% 11%;
  grid-template-rows: auto auto auto auto auto auto auto auto;
  /*video {
    grid-column: 1;
  }*/
  /*.main-video {
    grid-column: 2;
    padding-top: 89px;
    width: 100%;
  }*/
}
main .content-title {
  color: #1b2550;
  font-family: "Barlow";
  font-size: 48px;
  font-weight: 600;
  grid-column: 3/7;
  grid-row: 1/2;
  justify-self: center;
  line-height: 38px;
  margin-top: 73px;
  margin-bottom: 24px;
}
main .content-title--small {
  align-self: center;
  color: #303342;
  font-size: 36px;
  grid-column: 3/4;
  grid-row: 4/5;
  justify-self: end;
  line-height: 48px;
  margin-top: 58px;
  padding-top: 175px;
  width: 61%;
}
main .content-title--after {
  grid-column: 4/8;
  grid-row: 6/7;
}
main .date {
  align-self: end;
  color: #484b59;
  font-family: Barlow;
  font-size: 16px;
  font-weight: 700;
  grid-column: 3/4;
  grid-row: 5/6;
  justify-self: center;
  line-height: 38px;
  margin-top: -3px;
  padding-left: 32px;
  text-transform: uppercase;
  /* Text style for "JAN 20, 20" */
  letter-spacing: 3.2px;
}
main .description {
  color: #7c8092;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  grid-column: 3/7;
  grid-row: 2/3;
  justify-self: end;
  line-height: 30px;
  width: 84%;
}
main .description--small {
  grid-column: 3/4;
  grid-row: 6/7;
  width: 61%;
}
main .description--after {
  grid-column: 4/8;
  grid-row: 7/8;
}
main .aside {
  grid-column: 3/4;
  justify-self: end;
  margin-top: 56px;
  /*margin-left: 242px;*/
  grid-row: 3/4;
}
main .pete {
  grid-column: 3/8;
  grid-row: 3/7;
  justify-self: center;
  margin-top: 56px;
}

/*# sourceMappingURL=dist.main.css.map */
