main {
  display: grid;
  grid-template-columns: 24% 10% 9% 8% 16% 17% 16%;

  .content-title {
    color: #1b2550;
    font-size: 3rem;
    font-weight: 600;
    grid-area: 1/3/2/7;
    line-height: 48px;
    margin-top: 64px;
    margin-bottom: 24px;

    &--small {
      color: #303342;
      font-size: 2.25rem;
      grid-area: 4/1/5/2;
      line-height: 48px;
      margin-top: 58px;
      padding-left: 10px;
    }

    &--after {
      grid-row: 7/8;
      margin-bottom: 36px;
    }

    &--second {
      grid-row: 11/12;
      margin-top: 133px;
    }
  }

  .date {
    color: #484b59;
    font-size: 1rem;
    font-weight: 700;
    grid-row: 5/6;
    line-height: 38px;
    margin-top: -3px;
    padding-left: 12px;
    text-transform: uppercase;
    letter-spacing: 3.2px;
  }

  .description {
    color: #7c8092;
    font-family: Roboto, sans-serif;
    font-size: 0.9375rem;
    font-weight: 400;
    grid-area: 2/3/3/8;
    line-height: 30px;

    &--small {
      grid-area: 6/1/8/2;
      padding-left: 16px;
    }

    &--after {
      grid-row: 8/9;
      margin-top: 6px;
    }

    &--second {
      grid-row: 12/13;
      letter-spacing: 0.4px;
      margin-top: 3px;
    }
  }

  /*video {
    grid-column: 1;
  }*/

  /*.main-video {
    grid-column: 2;
    padding-top: 89px;
    width: 100%;
  }*/

  .aside {
    height: auto;
    margin-top: 56px;
    margin-left: 15px;
    grid-row: 3/4;
    width: 91%;
  }

  .pete {
    grid-area: 3/3/7/9;
    height: auto;
    margin-top: 56px;
    width: 100%;
  }

  .read-more {
    border-left: 2px solid #032c9e;
    grid-row: 8/9;
    height: 7%;
    margin-top: 25px;
    margin-left: 15px;
    padding-left: 29px;
    color: #1b2550;
    font-size: 0.875rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.8px;
  }

  .quote {
    color: #7c8092;
    font-size: 2.25rem;
    font-style: italic;
    grid-row: 9/10;
    line-height: 48px;

    &--left {
      grid-column: 1/4;
      margin-top: 82px;
      padding-left: 61px;
      width: 80%;
    }

    &--right {
      align-self: end;
      grid-column: 5/8;
      justify-self: center;
      padding-left: 24px;
      width: 71%;
    }
  }

  .leeuwen {
    grid-area: 10/1/11/2;
    padding-top: 4px;
    padding-left: 15px;
    width: 17%;

    &--right {
      grid-column: 5/6;
      padding-left: 52px;
      width: 25%;
    }
  }

  .author {
    grid-area: 10/1/11/2;
    padding-top: 1px;
    padding-left: 92px;
    width: 30%;
    color: #1b2550;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 2.8px;

    &--right {
      grid-column: 5/7;
      padding-top: 1px;
      padding-left: 129px;
    }
  }

  .links-block-header {
    color: #1b2550;
    font-size: 0.875rem;
    font-weight: 700;
    grid-area: 13/3/14/5;
    line-height: 30px;
    margin-left: -2px;
    padding-top: 50px;
    text-transform: uppercase;
    letter-spacing: 2.8px;
  }

  .social {
    display: flex;
    grid-area: 14/3/15/8;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 7px;
    margin-left: -2px;
    padding-left: 0;
    width: 98.4%;

    &__item {
      border: 1px solid #dadbdf;
      color: #1b2550;
      display: inline-block;
      font-size: 0.75rem;
      font-weight: 700;
      letter-spacing: 2px;
      line-height: 37px;
      padding-left: 11px;
      text-align: center;
      text-transform: uppercase;
      width: 21.5%;

      &--tw::before {
        content: "\f099";
        font-family: FontAwesome;
        font-size: 1rem;
        margin-right: 3px;
        margin-left: -10px;
      }
    }
  }

  .news-header {
    grid-area: 15/1/16/3;
    color: #1b2550;
    font-size: 3.75rem;
    line-height: 60px;
    font-weight: 600;
    padding-top: 157px;
    padding-left: 13px;

    &::after {
      content: "::";
      padding-left: 11px;
    }
  }

  .separator {
    background-color: brown;
    grid-row: 16/17;
    padding: 15px;
  }

  .news {
    grid-row: 17/18;
    grid-column: 1/8;
    margin-top: 78px;

    &::before {
      content: url("../images/divider.svg");
    }

    .schneider {
      width: 30%;
      height: 40.5vh;
      background-image: url("/mi-music/assets/images/cody-schneider.png");
      background-position: 50% 50%;
      background-size: cover;
    }

    .rodvang {
      width: 30%;
      height: 40.5vh;
      background-image: url("/mi-music/assets/images/victor-rodvang.png");
      background-position: 50% 50%;
      background-size: cover;
    }

    .wimmerman {
      width: 30%;
      height: 40.5vh;
      background-image: url("/mi-music/assets/images/oskar-wimmerman.png");
      background-position: 50% 50%;
      background-size: cover;
    }

    .khantho {
      width: 30%;
      height: 40.5vh;
      background-image: url("/mi-music/assets/images/puk-khantho.png");
      background-position: 50% 50%;
      background-size: cover;
    }
  }
}
